<app>
  <router base={base}>
    <app-navi></app-navi>
    <app-main></app-main>
  </router>
  <script>
    import AppNavi from './app-navi.riot'
    import AppMain from './app-main.riot'

    const loc = window.location
    export default {
      base: `${loc.protocol}//${loc.host}${loc.pathname ? loc.pathname : '' }`,
      components: {
        AppNavi,
        AppMain
      }
    }
  </script>
</app>
