<page-home>

  <div class="header">
    <h1>{ page.title }</h1>
  </div>
  <div class="content">
    <p>{ page.body }</p>
  </div>

  <script>
    export default {
      page: {
        title: "Home",
        body: "Timeline or dashboard as you like!"
      }
    }
  </script>

  <style>
    :host {
      display: block;
      text-align: center;
    }
  </style>

</page-home>
